<!-- About -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h4 class="section-subheading">The 7th International Csound Conference – ICSC2024 is going to be held in Vienna, Austria
                        <h4 class="section-subheading">from September 17th to September 20th</h4>
                            <p class="large">This year's conference will be held at the University of Music and Performing Arts in Vienna.</p>
                            <p class="large">The ICSC serves as a platform for the global Csound community, bringing together artists and academics for concerts, paper presentations, keynote talks and round tables.</p>
                            <p class="large">We extend a warm invitation to everyone to submit proposals for papers, music, installations and workshops, or simply to attend and participate in this exciting event!</h3>
                </div>
            </div>
        </div>
    </section>