<!-- Clients Aside -->
    <aside class="clients bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.mdw.ac.at/iwk/">
                        <img src="img/logos/IWK-logo2018_P281-en.svg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.mdw.ac.at/">
                        <img src="img/logos/MDW_Logo_englisch281.svg" class="img-responsive img-centered" alt="" style="width: 170px;">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://csound.com/">
                        <img src="img/logos/csound_logo.jpg" class="img-responsive img-centered" alt="" style="max-width: 60%;">
                    </a>
                </div>
            </div>
        </div>
    </aside>