<!-- Dates -->
    <section id="dates">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dates</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/call_for_contributions_vlada-karpovich.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Call for Contributions</h4>
                                        <h4 class="subheading">Papers
                                        <h4 class="subheading">Music
                                        <h4 class="subheading">Installations
                                        <h4 class="subheading">Workshops</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">30 January 2024</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/deadline_cottonbro studio.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Submission deadline</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">30 April 2024</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/acceptance_andrea-piacquadio.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Paper notification of acceptance</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">30 June 2024</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/registration open_tim-douglas.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Registration opens</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">01 July 2024</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Camera-ready submission.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Camera-ready submission</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">1 August 2024</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>CSOUND
                                    <br>Conference!
                                    <br>17.-20.9.2024</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>