<!-- Location -->
    <section id="location" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Location</h2>
                    <h3 class="section-subheading text-muted">mdw - University of Music and Performing Arts Vienna,<br>Anton-von-Webern Platz 1, 1030 Vienna Austria</h3>
                </div>
                <div class="col-sm-12 block-center">
                    <div class="img-fluid">
                        <img src="img/location/mdwcampus_plan_en_1152.jpg" alt="Campus" class="img.responsive">
                    </div>
                </div>
            </div>
            <!--
            <div class="col-sm-12">
                <div class="embed responsive">
                    <iframe class="embed responsive item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.2524380866253!2d16.38295707669232!3d48.20175339669078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07a33dd1fb13%3A0x6c4279098e60cdb0!2sDepartment%20of%20Music%20Acoustics%20%E2%80%93%20Wiener%20Klangstil%20(IWK)!5e0!3m2!1sde!2sat!4v1687250536883!5m2!1sde!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            -->
    </section>