<!-- Program -->
    <section id="program" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading">Program</h2>
                    <!-- <h3 class="section-subheading text-muted">You can submit the camera-ready submission via <a href=https://easychair.org/cfp/icsc2024>EasyChair</a>.</h3> -->
                    <h3 class="section-subheading text-muted">Find the final ICSC 2024 conference program <a href=https://easychair.org/smart-program/ICSC2024/>here</a>.</h3>
                    <h3 class="section-subheading text-muted">Download the ICSC 2024 <a href=img/ICSC2024_Book_of_Abstracts_web.pdf>Book of Abstracts</a>.</h3>
                </div>
            </div>
            <div class="col-sm-12 block-center">
                <!--
                <div class="img-fluid">
                    <img src="img/submit/Submit photo1152.png" alt="Submit" class="img.responsive">
                </div>
                <div class="col-lg-12 text-center">
                    <h4 class="section-subheading"><a href=https://easychair.org/cfp/icsc2024>Submit the camera-ready contribution: Papers, Music, Installations, Workshops</a></h3> 
                </div>
                <br>
                </br>
                <br>
                </br>
                -->
                <h4 class="section-subheading">Information for Presenters:</h4>        
                <p class="large">Talks: Each talk has a 20 minutes slot with 15 minutes of presentation time and a 5 minute discussion. In the room we will provide a projector with HDMI and stereo sound via a mini-jack cable. Each presenter should bring their own laptop.</p>
                <p class="large">Music: For tape pieces you will receive an invitation link to upload your audio files for the concerts. For live performances please bring your required equipment. We will send the rehearsal schedule ahead of the conference.</p>  
            
            <br>
            </br>
            
                <h4 class="section-subheading">Last deadline for camera-ready papers (+source files) for the Proceedings book: 30.9.2024</h4>        
                <p class="large">We are still missing a substantial number of final papers to prepare the Proceedings. With the aim to publish the Proceedings shortly after the conference, the final deadline to <a href=https://easychair.org/cfp/icsc2024>submit</a> your camera-ready paper and the source file in EasyChair is: 30.9.2024</p>
                <p class="large">Missing Papers will not appear in the final Proceedings book.</p>                    
                
            </div>

            <!--
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
            -->
        </div>
    </section>
