<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Team</h2>
                </div>
            </div>   
            <div class="row">
                <div class="col-sm-4 text-center">
                    <h4>Organising committee</h4>
                    <p>Alex Hofmann</p>
                    <p>Sonja Stojak</p>
                </div>
                <div class="col-sm-4 col-sm-push text-center">
                    <h4>Papers Review committee</h4>
                    <p>tbc.</p>
                </div>
                <div class="col-sm-4 col-sm-push text-center">
                    <h4>Music Review committee</h4>
                    <p>tbc.</p>
                </div>
            </div>
        </div>       
    </section>